* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: General Sans, sans-serif;
}

@font-face {
  font-family: Roboto Mono;
  src: url(./fonts/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_ROW4AJ68SA.woff2);
}

@font-face {
  font-family: General Sans;
  src: url(./fonts/63fd93c92039220238a118fe_GeneralSans-Regular.woff);
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

span,
p {
  font-family: Roboto Mono, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 200;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5vh;
  padding: 1rem 2rem;
}

header nav ul {
  display: none;
}

header nav>a:last-child {
  display: none;
}

main {
  padding: 2rem;
}

main #hero {
  width: 100%;
}

main #hero .intro {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

main #hero .intro span {
  text-transform: uppercase;
}

main #work .image {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  margin: 1rem 0;
  overflow: hidden;
}

main #work .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

main #work .workTextContainer h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  line-height: 1;
}

main #work .workTextContainer p {
  font-size: 0.9rem;
  letter-spacing: 0.1em;
  opacity: 0.8;
  line-height: 1.5;
  text-align: justify;
}

main #work .features {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

main #work .features .feature {
  display: flex;
  justify-content: space-between;
}

main #work .features .feature h3 {
  font-size: 1.8rem;
}

main #whatWeDo {
  margin-top: 2rem;
}

main #whatWeDo .whatWeDoImage {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  margin: 1rem 0;
  overflow: hidden;
}

main #whatWeDo .whatWeDoImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

main #whatWeDo .whatWeDoTextContainer {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

main #whatWeDo .whatWeDoTextContainer h6 {
  font-size: 0.8rem;
  writing-mode: vertical-rl;
  word-spacing: 0.5rem;
}

main #whatWeDo .whatWeDoTextContainer .sideText h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  line-height: 2.5rem;
}

main #whatWeDo .whatWeDoTextContainer .sideText p {
  font-size: 1.1rem;
  word-spacing: 0.1rem;
  line-height: 2rem;
  opacity: 0.5;
}

main #services .left h1 {
  margin: 3rem 0 2rem 0;
  font-size: 2.8rem;
}

main #services .left .service h5 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

main #services .left .service p {
  font-size: 0.9rem;
  opacity: 0.4;
}

main #services .left .service .aboutServices {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem 0;
  gap: 1rem;
}

main #services .left .service .aboutServices span {
  display: inline-block;
  border-radius: 100rem;
  background-color: black;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
}

main #services .left .service .aboutServices span svg {
  rotate: 45deg;
}

main #services .left .service .aboutServices h6 {
  font-size: 0.8rem;
}

main #services .right {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  margin: 1rem 0;
  overflow: hidden;
}

main #services .right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

footer {
  background-color: #111111;
  color: white;
  padding: 3rem 1rem 0.5rem 1rem;
}

footer * {
  color: white;
}

footer .message {
  border-bottom: 1px solid white;
  padding-bottom: 3rem;
}

footer .message h1 {
  font-size: 3.8rem;
  white-space: nowrap;
  text-align: center;
}

footer .message h3 {
  font-size: 2.3rem;
  text-align: center;
  line-height: 1;
  margin-top: 0.5rem;
}

footer .message span {
  background-color: white;
  display: flex;
  color: black;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50rem;
  padding: 0.4rem 0.9rem;
  text-transform: uppercase;
  font-weight: 100;
  margin: 2rem auto 3rem auto;
}

footer .message span svg {
  width: 1rem;
  rotate: 45deg;
}

footer .footerLinks {
  padding: 3rem 1rem;
}

footer .footerLinks h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

footer .footerLinks ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer .footerLinks ul li a {
  font-size: 0.8rem;
  text-transform: uppercase;
}

footer .footerLinks .socialMedia .logo svg path {
  fill: white;
}

footer .footerLinks .socialMedia .socialMediaLinks {
  margin: 1rem 0;
}

footer .footerLinks .socialMedia .socialMediaLinks .instagram {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

footer .footerLinks .socialMedia .socialMediaLinks .instagram>span:first-child {
  background-color: white;
  margin: 0.5rem 0;
  border-radius: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.4rem;
}

footer .footerLinks .socialMedia .socialMediaLinks .instagram>span:first-child svg path {
  fill: black;
}

footer .footerLinks .socialMedia .socialMediaLinks .instagram span {
  font-size: 0.8rem;
  text-transform: uppercase;
}

footer .footerLinks .socialMedia .socialMediaLinks .twitter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

footer .footerLinks .socialMedia .socialMediaLinks .twitter>span:first-child {
  background-color: white;
  margin: 0.5rem 0;
  border-radius: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.4rem;
}

footer .footerLinks .socialMedia .socialMediaLinks .twitter>span:first-child svg path {
  fill: black;
}

footer .footerLinks .socialMedia .socialMediaLinks .twitter span {
  font-size: 0.8rem;
  text-transform: uppercase;
}

footer .footerLinks .socialMedia .socialMediaLinks .behance {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

footer .footerLinks .socialMedia .socialMediaLinks .behance>span:first-child {
  background-color: white;
  margin: 0.5rem 0;
  border-radius: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.4rem;
}

footer .footerLinks .socialMedia .socialMediaLinks .behance>span:first-child svg path {
  fill: black;
}

footer .footerLinks .socialMedia .socialMediaLinks .behance span {
  font-size: 0.8rem;
  text-transform: uppercase;
}

footer .footerLinks .pages h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

footer .footerLinks .pages span {
  margin-top: 1rem;
  background-color: white;
  display: flex;
  color: black;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50rem;
  padding: 0.4rem 0.9rem;
  text-transform: uppercase;
  font-weight: 100;
}

footer .footerLinks .pages span svg {
  width: 1rem;
  rotate: 45deg;
}

footer .footerLinks .cms {
  margin: 1.5rem 0;
}

footer .footerLinks .utitityPages {
  margin: 1.5rem 0;
}

footer .copyrightContainer .copyright {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 2rem;
  text-transform: uppercase;
  opacity: 0.4;
}

footer .copyrightContainer p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  gap: 0.5rem;
}

footer .copyrightContainer p span {
  background-color: white;
  display: flex;
  color: black;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50rem;
  padding: 0.5rem;
  text-transform: uppercase;
  font-weight: 100;
}

footer .copyrightContainer p svg {
  width: 1.1rem;
}

@media (min-width: 768px) {
  header nav {
    padding: 3.4rem 3.6rem;
  }

  header nav>svg {
    display: none;
  }

  header nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    width: 78%;
  }

  header nav ul li a {
    color: black;
    text-transform: uppercase;
    font-size: 0.8rem;
  }

  header nav>a:last-child {
    background-color: black;
    color: white;
    padding: 0.5rem 1.8rem;
    text-transform: uppercase;
    font-size: 0.85rem;
    border-radius: 100rem;
  }

  main {
    padding: 0.2rem 3.6rem;
  }

  main #hero .intro span {
    font-size: 0.8rem;
  }

  main #work {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 2rem 0 10rem 0;
  }

  main #work .topWork {
    width: 50%;
  }

  main #work .bottomWork {
    width: 50%;
    height: 100%;
  }

  main #work .bottomWork .workTextContainer h1 {
    margin: 5rem 0 1rem 0;
    font-size: 4.5rem;
  }

  main #work .bottomWork .workTextContainer p {
    font-size: 1.25rem;
    text-align: left;
  }

  main #work .features {
    margin-top: 5rem;
    padding: 0 2rem 0 0;
  }

  main #work .features .feature h3 {
    font-size: 2rem;
  }

  main #whatWeDo {
    margin-top: 5rem;
    display: flex;
  }

  main #whatWeDo .whatWeDoImage {
    width: 30%;
    height: 85vh;
    margin: 0;
  }

  main #whatWeDo .whatWeDoImage img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  main #whatWeDo .whatWeDoTextContainer {
    width: 70%;
    display: flex;
    flex-direction: row-reverse;
  }

  main #whatWeDo .whatWeDoTextContainer .sideText {
    padding: 0 2.5rem 2rem 2.5rem;
  }

  main #whatWeDo .whatWeDoTextContainer .sideText h1 {
    line-height: 1;
    font-size: 5.5rem;
  }

  main #whatWeDo .whatWeDoTextContainer .sideText p {
    font-size: 1.2rem;
    margin-top: 5rem;
  }

  main #services {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
  }

  main #services .left {
    width: 50%;
  }

  main #services .left h1 {
    font-size: 6rem;
    line-height: 1;
  }

  main #services .left .servicesContainer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }

  main #services .left .servicesContainer .service p {
    font-size: 1.1rem;
  }

  main #services .right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }

  main #services .right .servicesImage {
    width: 90%;
    height: 120%;
  }

  footer {
    min-height: 100%;
  }

  footer .message {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer .message h1 {
    font-size: 11rem;
  }

  footer .message h3 {
    font-size: 3.7rem;
    width: 80%;
  }

  footer .message h3 br {
    display: none;
  }

  footer .message span {
    margin: 5rem auto 3rem auto;
  }

  footer .footerLinks {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 4rem 8rem 3rem 2rem;
  }

  footer .footerLinks .socialMedia {
    display: flex;
    gap: 6rem 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  footer .footerLinks .cms {
    margin: 0;
  }

  footer .copyrightContainer {
    padding: 0 2rem 2rem 2rem;
    display: flex;
    justify-content: space-between;
  }
}