* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* list-style: none; */
    text-decoration: none;
    font-family: "Barlow Condensed", serif;
    color: black;
}

html,
body {
    width: 100%;
    height: 100%;
}

/* Font1: Nunito */
/* Font2: Bangers */
header h1 {
    width: 100%;
    text-align: center;
    font-family: "Bangers", serif;
    letter-spacing: 0.1vw;
    background-color: rgb(155, 155, 155);
    /* color: #00FFFF; */
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    font-weight: 700;
    background-color: rgb(155, 155, 155);
    height: 5vh;
    border-bottom: 1px solid black;
}
header nav a{
    color: black;
}

main {
    display: flex;
    min-height: calc(100vh - 7vh - 5vh - 5vh);
}

main .container {
    padding: 0.5vw;
}

main #leftContainer {
    /* background-color: sandybrown; */
    width: 15vw;
    min-height: 100%;
    background-color: rgb(207, 207, 207);
}

main #leftContainer #leftHeading {
    color: rgb(0, 0, 0);
    font-weight: 800;
    font-size: 1.5vw;
    margin-bottom: 1vw;
    /* color: white; */
    /* text-transform: uppercase; */
}

main #leftContainer #pageNavLinks hr {
    border-color: rgb(140, 140, 140);
    /* height: 0.1vw; */
    /* border: none; */
}

main #leftContainer #pageNavLinks a {
    display: block;
    margin: 0.6vw 0;
    /* color: white; */
    &:hover{
        color: #CCFFFF;
    }
}

main #rightContainer {
    /* background-color: rgb(255, 214, 179); */
    width: 85vw;
    min-height: 100%;
}

main #rightContainer #rightHeading {
    color: rgb(0, 0, 0);
    font-weight: 800;
    font-size: 1.5vw;
    margin-bottom: 1vw;
}

main #rightContainer .images {
    /* background-color: red; */
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0.3vw;
}

main #rightContainer .images .img {
    width: 20vw;
    height: 100%;
    /* background-color: indigo; */
    overflow: hidden;
}

main #rightContainer .images .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main #rightContainer .images .img img[alt="Itachi Uchiha from Naruto"] {
    object-position: top;
}

main #rightContainer .images .img img[ alt="Sukuna from Jujutsu Kaisen"] {
    object-position: bottom;
}

main #rightContainer .images .img img[alt="Dan Takakura and Momo Ayase from Dan Da Dan"] {
    object-position: bottom;
}

main #rightContainer p {
    font-weight: 400;
    font-size: 1.3vw;
    margin-top: 0.4vw;
}

main #rightContainer #featured {
    color: rgb(0, 0, 0);
    font-weight: 800;
    font-size: 1.5vw;
    /* margin-bottom: 1vw; */
}

main #rightContainer .featuredListItems {
    list-style: inside;
    padding-left: 1vw;
}

main #rightContainer .more {
    /* background-color: red; */
    padding: 0.1vw 0;
}

footer {
    background-color: rgb(155, 155, 155);
    height: 5vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2vw;
}